<header class="pb-5">
  <div class="col-md-6 offset-md-3">
      <div class="text-center container">
          <div>
              <h4>Custom App 1</h4>
              <h6>Angular & Cordova</h6>
          </div>
      </div>
  </div>
</header>
