<header class="pb-5">
    <div class="col-md-6 offset-md-3">
        <div class="text-center container">
            <div>
                <h4>Custom App 2</h4>
                <h6>Angular & Cordova</h6>
            </div>
        </div>
    </div>
</header>
<section id="social-links">
    <div class="col-md-6 offset-md-3">
        <div>
          <button class="col-md-6 offset-md-3 btn btn-primary" onclick="window.open('cordovaapp://path?foo=bar', '_system')">Open other application</button>
      </div>
    </div>

</section>
